.grid-filter-sidebar{
    width:240px;
}

.filter-box{
    background:#fff;
    border:1px solid #E5E7EB;
    border-radius:6px;
    padding:16px;
    margin-bottom:20px;
    
}

.filter-heading{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:15px;
    
}

.filter-heading h4{
    margin:0;
    font-size:16px;
    font-weight:600;
}

.filter-box p,
.filter-box label{
    display:flex;
    align-items:center;
    gap:8px;
    margin:10px 0;
    text-align:left;
    justify-content:flex-start;
    font-size:14px;
    color:#505050;
    
}

.filter-box span{
    color:#0D6EFD;
    cursor:pointer;
    font-size:14px;
}

.price-inputs{
    display:flex;
    gap:10px;
    margin:15px 0;
}

.price-inputs input{
    width:100%;
    padding:8px;
    border:1px solid #ddd;
    border-radius:5px;
}

.apply-btn{
    width:100%;
    padding:10px;
    background:#0D6EFD;
    color:#fff;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

.filter-section{
    padding:18px 0;
    border-bottom:1px solid #DEE2E7;
}

.filter-section:last-child{
    border-bottom:none;
}

.filter-box input[type="checkbox"]{
    accent-color:#0D6EFD;
}

.filter-box span{
    display:block;
    width:100%;
    text-align:left;
    margin-top:10px;
    color:#0D6EFD;
    cursor:pointer;
    font-size:14px;
}