.breadcrumb{
    width:100%;
    padding:20px 40px 10px;
    box-sizing:border-box;
    text-align:left;
    font-size:14px;
    color:#8B96A5;
  
}

.breadcrumb span{
    cursor:pointer;
}

.breadcrumb span:hover{
    color:#0D6EFD;
}