.cart-summary{
    width:320px;
}

.coupon-box,
.summary-box{
    background:#fff;
    border:1px solid #DEE2E7;
    border-radius:6px;
    padding:18px;
    margin-bottom:20px;
}

.coupon-box p{
    margin-bottom:12px;
    font-weight:600;
}

.coupon-input{
    display:flex;
}

.coupon-input input{
    flex:1;
    padding:10px;
    border:1px solid #DEE2E7;
    border-radius:6px 0 0 6px;
    outline:none;
}

.coupon-input button{
    padding:10px 18px;
    border:1px solid #DEE2E7;
    background:#fff;
    color:#0D6EFD;
    border-left:none;
    border-radius:0 6px 6px 0;
    cursor:pointer;
}

.summary-row,
.summary-total{
    display:flex;
    justify-content:space-between;
    margin:12px 0;
}

.red{
    color:#FA3434;
}

.green{
    color:#00B517;
}

.checkout-btn{
    width:100%;
    margin-top:18px;
    padding:12px;
    background:#00B517;
    color:#fff;
    border:none;
    border-radius:6px;
    font-size:16px;
    cursor:pointer;
}



.payment-icons{
    display:flex;
    align-items:center;
    gap:12px;
    margin-top:15px;
}

.pay-icon{
    font-size:38px;
    cursor:pointer;
}

.visa{
    color:#1A1F71;
}

.mastercard{
    color:#EB001B;
}

.paypal{
    color:#003087;
}

.applepay{
    color:#000;
}