.grid-container{
    display:flex;
    gap:20px;
    padding:0 40px 30px;
    align-items:flex-start;
}

.grid-filter-sidebar{
    width:240px;
    flex-shrink:0;

}

.product-grid-list{
    flex:1;
}

.grid-container{
    display: flex;
    gap: 20px;
    padding: 0 40px 30px;
    max-width: 1430px;
    margin: auto;
    overflow-x: hidden;
}